.main {
    width: 100%;
    min-height: calc(100vh - 69px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 40px 0;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        image-set(url('/images/hero.webp') 1x, url('/images/hero2x.webp') 2x);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 12px;
    color: var(--white);
}

.subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 32px;
    color: var(--white);
}

.button {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 280px;
    padding: 12px 88px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--white);
    background-color: var(--light-blue);
    transition: background-color 250ms ease;
}

.button:hover {
    background-color: var(--dark-blue);
}

@media (min-width: 768px) {
    .main {
        padding: 80px 0;
    }

    .title {
        font-size: 60px;
        margin-bottom: 16px;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .button {
        max-width: 320px;
    }
}

@media (min-width: 1440px) {
    .main {
        align-items: flex-end;
    }

    .button {
        max-width: 276px;
    }
}